/* reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4;
}

/* general styles */

.container {
	max-width: 1000px;
	margin-inline: auto;
	padding-inline: 1rem;
}

/* header */

header {
	background-color: #3161E0;;
}

.navbar {
	height: 4rem;
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
}

.navbar .container > * {
	display: flex;
	align-items: center;
}

.center-nav {
	display: flex;
}

.center-nav li {
	list-style: none;
	padding: .5rem;
}

.center-nav a {
	text-decoration: none;
	color: white;
}

.login a {
	background-color: white;
	text-decoration: none;
	padding: .5rem;
	border-radius: 1rem;
	color: black;
}

/* end nav */

.jumbo {
	padding-top: 3rem;
	padding-bottom: 4rem;
	background-image: url(../img/jumbo.png);
	background-size: cover;
	background-position: center;
}

.jumbo .content {
	max-width: 600px;
	margin-inline: auto;
	padding-inline: 1rem;
	text-align: center;
}

.content h1 {
	padding-bottom: 1.5rem;
}

.content p {
	padding-bottom: 1rem;
}

.content .btn {
	padding-inline: .3rem;
}

.btn a {
	text-decoration: none;
	padding: .5rem;
	border-radius: 1rem;
}

.btn-white a {
	background-color: white;
	color: black;
}

.btn-black a {
	background-color: black;
	color: white;
}

/* main */

main section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-feature .container {
	display: flex;
	align-items: center;
	gap: 5%;
}

.section-feature.reverse .container {
	flex-direction: row-reverse;
}

.bkg-gray {
	background-color: lightslategrey;
}

.section-feature .image {
	flex: 0 0 60%;
}

.section-feature .image img {
	width: 100%;
}

.section-feature .text {
	flex: 0 0 35%;
}

.text h2 {
	font-size: 2.2rem;
	padding-bottom: 1rem;
}

.section-full .container {
	text-align: center;
}

.section-full h3 {
	margin-inline: auto;
	padding: 3rem;
	max-width: 600px;
	background-image: url('../img/stars.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.btn-section-full {
	text-decoration: none;
	padding: .5rem;
	border-radius: 1rem;
	background-color: #8EA1E1;
	color: white;
}

/* footer */

footer {
	padding-top: 4rem;
	padding-bottom: 2rem;
	background-color: black; /* TODO: check value */
}

footer .footer-top {
	display: flex;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 3px solid white; /* TODO: check value */
}

footer .column-socials {
	flex: 0 0 40%;
	color: white;
}

footer .column-socials h2 {
	color: #8EA1E1;
	padding-bottom: 1rem;
}

footer .socials > i {
	padding-right: 1rem;
}

.ita {
	padding-bottom: 1rem;
}

.ita img {
	height: 20px;
}

footer .column-links {
	flex: 0 0 15%;
}

.column-links h5 {
	color: #8EA1E1;
}

.column-links a {
	text-decoration: none;
	color: white;
}

.column-links li {
	list-style: none;
}

/* footer */
footer .footer-bottom {
	display: flex;
	justify-content: space-between;
}

.button {
	color: white;
	text-decoration: none;
	padding: .5rem;
	border-radius: 1rem;
	background-color:#8EA1E1;;
}